<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coffee Machine App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-row>
    <h1>Select your coffee and personalise it. Then... enjoy!</h1>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let coffee of coffees" size="4">
      <ion-card>
        <img style="height: 200px; width: 100%;" alt="Brazilian coffee" [src]="coffee.image" />
        <ion-card-header>
          <ion-card-title>{{ coffee.type }} coffee</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          {{ coffee.description }} 
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
