<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Coffee Machine App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-row>
    <h1>Select your coffee and personalise it. Then... enjoy!</h1>
  </ion-row>
  <ion-row>
    <ion-col *ngFor="let coffee of coffees" size="4">
      <ion-card>
        <img style="height: 200px; width: 100%;" alt="Brazilian coffee" [src]="coffee.image" />
        <ion-card-header>
          <ion-item lines="none">
            <label slot="start">{{ coffee.type }} coffee</label>
            <ion-chip slot="end">
              <ion-icon name="cash-outline" color="primary"></ion-icon>
              <ion-label>{{ coffee.price }} €</ion-label>
            </ion-chip>
          </ion-item>
        </ion-card-header>
      
        <ion-card-content>
          {{ coffee.description }}
          <ion-item lines="none">
            <h2>Coffee size</h2>
          </ion-item> 
          <app-coffee-size></app-coffee-size>
          <ion-item lines="none">
            <h2>Toppings / Syrups</h2>
          </ion-item> 
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
